
.nompestaña {
	background-color: white;
	width: 80%;
	max-width: 1000;
	padding: 10px;
	margin: 20px auto;
	color: #00008B;
}


.portada {
	background-color: white;
	width: 80%;
	max-width: 1000;
	padding: 10px;
	margin: 20px auto;
	color: #00008B;
}

